$ocean: #3bc0c3;
$dark-blue: #314350;
$darken-blue: #1c2b36;
$border-blue: #cee5f5;
$red: #f05050;
$error-red: #bf3030;
$grey: #b6c2c9;
$light-grey: #edf1f2;
$darker-grey: #b6c2c9;
$light-dark: #333;
$black: #0f1922;
$green: #20a84f;

